.room-bottom-panel {
  position: absolute;
  background-color: rgba(105, 1, 169, 0.059);
  min-height: 88px;
  bottom: 20px;
  align-self: center;
  justify-self: center;
  // margin-left: 100px;
  display: flex;
  gap: 20px;
  padding: 13px;

  button {
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    height: 70px;
    width: 100px;
    border: none;
    align-self: center;
  }

  .active-room-bottom-control {
    color: white;
    background-color: var(--main-foreground);
  }

  .room-bottom-invite-button:hover {
    color: white;
    background-color: var(--main-foreground);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: .85s;
  }
}
