video {
  background-color: black;
}

.webcam {
  background-color: black;
  
  .webcam-video-container {
    border-radius: 5px;
    position: relative;
    width: 80%;
    height: 80%;
  }
}

.webcam-on,
.webcam-off {
  height: 100%;
  // position: fixed;
  left: 120px;
  top: 40px;
  width: 100% !important;
  box-shadow: 0px 0px 15px 1px rgba(99, 0, 225, 0.13);
}

.webcam-container {
  position: relative;
  width: 80%;
  min-height: 90%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--secondary-background);
  // margin-left: 100px;

  .webcam-main {
    border: solid 3px rgb(72, 68, 68);

    video {
      border: solid 4px blueviolet;
      width: 80%;
      height: 60%;
    }
  }

  .webcam-on {
    // max-height: 70%;
    video {
      border: solid 4px salmon;
      // height: 70%;
    }
  }

  .webcam-off {
    background-color: black;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: grey;
      text-align: center;
    }
  }
}
